.menu{
    /* margin-left: 160px; */
    margin-top: 130px;
}
.menu ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

.menu li {
margin-right: 50px;
}

.menu a {
display: block;
text-decoration: none;
color: black;
position: relative;
font-size: large;
text-transform: uppercase;
}

.menu a.active,
.menu a:hover {
color: #f00;
}

/* Duong ke duoi li */
.menu a.active::after,
.menu a:hover::after {
content: '';
display: block;
height: 2px;
background: #f00;
position: absolute;
bottom: -3px;
left: 0;
right: 0;

}
.menu.fixed {
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 9999;
}



.search_box {
height: 30px;
position: absolute;
top: 60%;
left: 50%;
/* transform căn giữa */
transform: translate(-50%,-50%); 
background: whitesmoke;
border: 4px solid #539165;
border-radius: 50px;
padding: 10px;
}

.sbutton {
color: #e84118;
float: right;
width: 30px;
height: 30px;
border-radius: 50%;
/* background: #DADADA; */
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
transition: 0.4s;
}

.stext {
border: none;
background: none;
outline: none;
float: left;
padding: 0;
color: black;
font-size: 15px;
transition: 0.4s;
line-height: 30px;
width: 0px;
}

.sbox:hover > .stext {
width: 200px;
padding: 0 5px;
border-radius: 50px;
}
.sbox:hover > .sbutton {
background: #fff;
}

/*-----------------------------------*\
  #FOOD MENU
\*-----------------------------------*/

#food-menu {
    background-color: whitesmoke;
    text-align: center;
  }
  
  #food-menu .sec-title { margin-block: 10px 20px; }
  
  /* .food-menu .section-text {
    max-width: 44ch;
    margin-inline: auto;
    margin-block-end: 30px;
  } */
  
  /* .filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-block-end: 40px;
  } */
  
  /* .cate {
    width: 100%;
    height: 60px;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
  } */
  
  #menu-type {
    width: 100%;
    text-align: center;
    height: 93px;
    background-color: #252525;
    border-radius: 10px;
  } 
  #menu-type ul li {
    display: inline-block;
    color: white;
    font-size: large;
    list-style: none;
    margin: 20px 10px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px 20px;
  }
  /* .filter-list {
    display: block;
    margin-top: 10px;
  }
  .cate ul li {
    float: left;
    background-color: skyblue;
    padding: 5px 20px;
    border: none;
    margin-left: 20px;
    border-radius: 20px;
    list-style: none;
  } */
  .foty-btn {
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 18px;
  }
  .foty-btn:hover{
    background-color: orangered;
    color: white;
    cursor: pointer;
  }
  
  /* .filter-btn {
    /* float: left; */
    /* background-color: skyblue; */
    /* color: var(--color, var(--rich-black-fogra-29)); */
    /* font-family: var(--ff-rubik);
    font-weight: var(--fw-500); */
    /* padding: 5px 20px; */
    /* border: 1px solid var(--border-color, var(--cultured));
  } */
  /* .filter-btn :hover{
      background-color: orange;
      color: white;
  }
  
  .filter-btn.btn-hover {
    background-color: var(--deep-saffron);
    --color: var(--white);
    --border-color: var(--deep-saffron);
  } */
  .menu-row {
    min-height: 445px; 
    width: 100% ; 
    margin: 20px auto;
    /* scroll-margin-top: 100px; */
    /* position: relative; */
  }
  #fir-item {
    margin-left: 100px;
  }
  .small-row
  .cates{
    width: 100%;
    height: 70px;
  }
  .menu-small-card{
    margin-left: 28px;
    margin-bottom: 25px;
    height: 100px;
    /* width: 30%; */
    background-color: white;
    border: 1px solid green;
    border-radius: 10px;
    float: left;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-small-card:hover {
    transition: transform 0.2s ease-out;
    transform: scale(1.05);
  }
  .menu-small-card img{
    height: 100px;
    width: 40%;
    float: left;
  }
  .small-des {
    width: 55%;
    height: 150px;
    float: right;
    padding-top: 5px;
  }
  .small-des a{
    color: orangered;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  .small-des h3 {
    margin-bottom: 10px;
    font-size: medium;
  }
  .small-des a:hover {
    cursor: pointer;
  }
  .btn-cate{
    margin-left: 100px;
    margin-bottom: 20px;
    background-color: #539165;
    color: white;
    font-size: large;
    padding: 10px 25px;
    border: 0px solid;
    border-radius: 10px;
    /* position: absolute;
    top: 10px;
    left: 20px; */
  }
  .food-menu-list {
    display: grid;
    gap: 30px;
  }
  
  .food-menu-card {
    height: 345px; 
    /* width: 20%;  */
    float: left;
    margin-bottom: 20px;
    margin-left: -25px;
    background-color: white;
    padding: 20px;
    box-shadow: 5px;
    text-align: center;
    position: relative;
    /* quy tac transition prefix */
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
    justify-content: center;
    align-items: center;
    /* border-radius: 10px;
    border: 1px solid orange; */
  }
  .food-menu-card:hover {
    transition: transform 0.2s ease-out;
    transform: scale(1.05);
  }
  .sale{
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
  .food-pic{
    margin-top: -15px;
    /* width: 80%;  */
    max-width: 95%;
    height: 150px; 
    border-radius: 15px;
  }
  
  /* .food-menu-card:focus-within { outline: 1px auto -webkit-focus-ring-color; } */
  
  .food-menu-card .card-banner {
    position: relative;
    padding-block-start: 30px;
    max-width: max-content;
    aspect-ratio: 1 / 1;

    /* can chieu ngang */
    margin-inline: auto;
  }
  
  
  
  .food-menu-btn {
    position: absolute;
    top: 100px;
    left: 50%;
    border-radius: 20px;
    font-weight: bold;
    color: whitesmoke;
    /* transform: translate(-50%, 0); */
    transform: translate((-50%, -50%));
    width: 130px;
    background-color: #f34949;
    /* width: 60%; */
    height: 40px;
    padding-inline: 20px;
    opacity: 0;
    border: none;
    /* transition: var(--transition-2); */
  }
  
  /* .food-menu-btn:is(:hover, :focus) { --bg-color: var(--deep-saffron); } */
  
  .food-menu-card:is(:hover) .food-menu-btn {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .food-menu-btn:hover {
    background-color: orangered;
    color: white;
    cursor: pointer;
  }
  /* :focus-within */
  
  
  .food-menu-card .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
    margin-block: 10px 10px;
    margin-top: -30px;
  }
  
  .category {
    /* font-family: var(--ff-rubik);
    font-weight: var(--fw-500); */
    /* margin-top: -60px; */
    position: absolute;
    left: 0;
    right: 0;
    top: 223px;
    margin: auto;
  }
  .card-title {
    color: orangered;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    top: 250px;
    margin: auto;
  }
  
 
  
  .food-menu-card .price-wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    /* margin: 50px auto;
    text-align: center; */
  }
  
  .price-text {
    margin-top: 7px;
    padding-inline-end: 5px;
    color: black;
  }
  
  .food-menu-card .price { 
      color:green;
      font-size: 24px; 
      font-weight: bold;
  }
  
  .food-menu-card .del { 
      color: red;
      margin: 7px 10px;
  }
  